<div class="content-container">

  <h1>Mine ydelser</h1>

  <table>
    <thead>
      <tr>
        <th>Billede</th>
        <th>Yedelse</th>
        <th>Beskrivelse</th>
        <th>varighed</th>
        <th colspan="3">Optioner</th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= image_tag service.promo_image, style: 'height:100px; width:200px' %></td>
          <td><%="#{service.headline} #{service.price}"%></td>
          <td><%= service.description %></td>
          <td><%= service.duration %></td>
          <td><%= link_to 'Rediger', edit_company_service_path(current_company ,service), class: 'button' %></td>
          <td><%= link_to 'Slet', [current_company, service], method: :delete, data: { confirm: 'er du sikker på at du vil slette denne ydelse' }, class: 'button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Opret ny ydelse', new_company_service_path(current_company), class: 'button' %>
</div>


