<%= form_with(model: company_style_setting) do |form| %>
  <% if company_style_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_style_setting.errors.count, "error") %> prohibited this company_style_setting from being saved:</h2>

      <ul>
        <% company_style_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :background_color %>
    <%= form.text_field :background_color %>
  </div>

  <div class="field">
    <%= form.label :navbar_color %>
    <%= form.text_field :navbar_color %>
  </div>

  <div class="field">
    <%= form.label :header_color %>
    <%= form.text_field :header_color %>
  </div>

  <div class="field">
    <%= form.label :text_color %>
    <%= form.text_field :text_color %>
  </div>

  <div class="field">
    <%= form.label :primary_button_color %>
    <%= form.text_field :primary_button_color %>
  </div>

  <div class="field">
    <%= form.label :secondary_button_color %>
    <%= form.text_field :secondary_button_color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
