<p id="notice"><%= notice %></p>

<h1>Frontpages</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Main image</th>
      <th>Main header</th>
      <th>About image</th>
      <th>About header</th>
      <th>About text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frontpages.each do |frontpage| %>
      <tr>
        <td><%= frontpage.company_id %></td>
        <td><%= frontpage.main_image %></td>
        <td><%= frontpage.main_header %></td>
        <td><%= frontpage.about_image %></td>
        <td><%= frontpage.about_header %></td>
        <td><%= frontpage.about_text %></td>
        <td><%= link_to 'Show', frontpage %></td>
        <td><%= link_to 'Edit', edit_frontpage_path(frontpage) %></td>
        <td><%= link_to 'Destroy', frontpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frontpage', new_frontpage_path %>
