<div class="preview-container">
  <div class="demo-container">
    <div class="demo-nav">
      <div class="demo-nav-left"><%=current_company.name%></div>
      <div class="demo-nav-right">
        <p>Ydelser</p>
        <p>Bestil tid</p>
      </div>
    </div>
    <div class="demo-main-image-container">
      <div class="demo-main-headline-container">
        <h3 id="demo-main-headline">Lorem ipsum</h3>
        <div class="button-container">
          <p class="button primary-button">Se Ydelser</p>
          <p class="button secondary-button">bestil tid</p>
        </div>
      </div>
    </div>
    <div class="demo-about-container">
      <div class="demo-about-image"></div>
      <div class="demo-about-us-container">
        <h3 id="demo-about-header">Lorem Ipsum</h3>
        <p id="demo-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nam labore, beatae a alias debitis amet ducimus nesciunt reprehenderit blanditiis iusto, dignissimos veritatis laudantium non quod impedit illum iure? Ex.</p>
        <div class="button-container"></div>
      </div>
      
    </div>
    <div class="footer">
        <%= current_company.name%>
        <%= 'cvr:' + current_company.cvr %>
        <%= current_company.address %>
        <%= current_company.zip_code %>
        <%= current_company.city %>
      </div>
  </div>

  <div class="frontpage-form-container">
    <h1>Opret forside</h1>

    <%= form_with(model: @frontpage, url: [@company, @frontpage], local: true ) do |form|%>
      
      <%= form.text_field :company_id, value: current_company.id, hidden: true %>
        <section>
          <h1>Opret din farvepalet</h1>
          <div class="field">
            <%=form.label  'Baggrunds farve'%>

            <%= form.color_field :background_color, value: '#ffffff'%>
          </div>
          <div class="field">
            <%=form.label  'Navigations menu farve'%>

            <%= form.color_field :navbar_color, value: '#333333' %>
          </div>
          <div class="field">
            <%=form.label  'Overskrift farve'%>

            <%= form.color_field :header_color, value: '#ffffff' %>
          </div>
          <div class="field">
            <%=form.label  'Tekst Farve'%>

            <%= form.color_field :text_color %>
          </div>
          <div class="field">
            <%=form.label  'Primær knap farve'%>

            <%= form.color_field :primary_button_color, value: '#000000' %>
          </div>
          <div class="field">
            <%=form.label  'Sekundær knap farve'%>

            <%= form.color_field :secondary_button_color, value: '#bbbbbb' %>
          </div>
          
        </section>
        <section>
          <h1>Gør din side personlig</h1>
          <div class="field">
            <%=form.label  'Forside hoved billede'%>
            <%= form.text_field :main_image, hidden: true%>
            <input type="file" id="main-image-file">
          </div>
          <div class="field">
            <%=form.label  'forside Hoved overskrift'%>

            <%= form.text_field :main_header %>
          </div>
          <div class="field">
            <%=form.label  'Om os billede'%>
            <input type="file" id="about-image-file" >
            <%= form.text_field :about_image, hidden: true%>
          </div>
          <div class="field">
            <%=form.label  'Om os overskrift'%>

            <%= form.text_field :about_header %>
          </div>
          <div class="field">
            <%=form.label  'om os beskrivelse'%>

            <%= form.text_field :about_text %>
          </div>
        </section>
        <%= form.submit 'Gem' %>
    <% end %>
    
  </div>
</div>

<script>
  const backgroundColor =document.querySelector('#frontpage_background_color'),
        navbarColor = document.querySelector('#frontpage_navbar_color'),
        headerColor = document.querySelector('#frontpage_header_color'),
        textColor = document.querySelector('#frontpage_text_color'),
        primaryButtonColor = document.querySelector('#frontpage_primary_button_color'),
        seconadryButtonColor = document.querySelector('#frontpage_secondary_button_color');

  // form fields
  const mainImage = document.querySelector('#frontpage_main_image'),
        mainImageFile = document.querySelector('#main-image-file'),
        mainHeader = document.querySelector('#frontpage_main_header'),
        aboutImage = document.querySelector('#frontpage_about_image'),
        aboutImageFile = document.querySelector('#about-image-file'),
        aboutHeader = document.querySelector('#frontpage_about_header'),
        aboutTextInput = document.querySelector('#frontpage_about_text');
  // demo elements
  const demoContainer = document.querySelector('.demo-container'),
        demoNav = document.querySelector('.demo-nav'),
        navLeft = document.querySelector('.demo-nav-left'),
        navRight = document.querySelector('.demo-nav-right'),
        mainHeadline = document.querySelector('#demo-main-headline'),
        aboutHeadline = document.querySelector('#demo-about-header'),
        aboutText = document.querySelector('#demo-about'),
        primaryButton = document.querySelector('.primary-button'),
        secondaryButton = document.querySelector('.secondary-buttonn'),
        mainImageContainer = document.querySelector('.demo-main-image-container'),
        aboutImageContainer = document.querySelector('.demo-about-image'),
        footer= document.querySelector('.footer');

  //events
  backgroundColor.addEventListener('change', () => demoContainer.style.background = backgroundColor.value);
  navbarColor.addEventListener('change', () =>{
    demoNav.style.background = navbarColor.value;
    footer.style.background = navbarColor.value;  
  });

  headerColor.addEventListener('change', ()=>{
    for(let element of [mainHeadline, aboutHeadline, aboutHeadline, navLeft, navRight, footer]){
      element.style.color = headerColor.value;
    }
  });

  textColor.addEventListener('change', ()=> aboutText.style.color = textColor.value);
  primaryButtonColor.addEventListener('change', ()=> primaryButton.style.background = primaryButtonColor.value);
  seconadryButtonColor.addEventListener('change', ()=> secondaryButton.style.background = seconadryButtonColor.value );

  mainImageFile.addEventListener('change', async ()=> {
    const file = await convertTobase64(mainImageFile.files[0]);
    mainImage.value = file;
    addImageToElement(file, mainImageContainer)
  });

  mainHeader.addEventListener('keyup', ()=> mainHeadline.innerHTML = mainHeader.value );

  aboutImageFile.addEventListener('change', async ()=> {
    const file = await convertTobase64(aboutImageFile.files[0]);
    aboutImage.value = file;
    addImageToElement(file, aboutImageContainer)
  });

  aboutHeader.addEventListener('keyup', () => aboutHeadline.innerHTML = aboutHeader.value );
  aboutTextInput.addEventListener('keyup', () => aboutText.innerHTML = aboutTextInput.value)

  const convertTobase64 = file => new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = error => reject(error);
  })

  const addImageToElement = (value, element) => {
    const image = document.createElement('img');
    image.setAttribute('src', value);
    element.appendChild(image);
  }

</script>