<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @style_setting.company_id %>
</p>

<p>
  <strong>Background color:</strong>
  <%= @style_setting.background_color %>
</p>

<p>
  <strong>Navbar color:</strong>
  <%= @style_setting.navbar_color %>
</p>

<p>
  <strong>Header color:</strong>
  <%= @style_setting.header_color %>
</p>

<p>
  <strong>Text color:</strong>
  <%= @style_setting.text_color %>
</p>

<p>
  <strong>Primary button color:</strong>
  <%= @style_setting.primary_button_color %>
</p>

<p>
  <strong>Secondary button color:</strong>
  <%= @style_setting.secondary_button_color %>
</p>

<%= link_to 'Edit', edit_style_setting_path(@style_setting) %> |
<%= link_to 'Back', style_settings_path %>
