<!DOCTYPE html>
<html>
  <head>
    <title>BDot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%if current_company.present?%>
        <%= render 'shared/navbar/company_navbar'%>
      <%else%>
        <%= render 'shared/navbar/navbar_default'%>
      <%end%>
      <%= yield %>
    </div>
    
  </body>
</html>
